* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
    background-color: #181818;
}

#logo {
    font-size: 30px;
    color: #fff;
}

#manu {
    display: none;
}

nav {
    display: flex;
    justify-content: end;
    width: 100vw;
    padding-top: 10px;
    padding-left: 12%;
    position: fixed;
    z-index: 5;
}

nav > ul > li {
    list-style: none;
    display: inline-block;
    padding: 0 25px;
    z-index: 7;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

nav > ul > li > a:hover {
    color: #615CFD;
    transition: 0.3s;
}

.sticky {
    height: 60px;
    background: #181818;
    transition: 0.3s;
}

.main-container {
    width: 50%;
    height: 50%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container > h2 {
    margin-top: 20px;
    margin-bottom: -20px;
}

.main-container > h1 {

    font-size: 60px;
    color: #d35400;
    font-family: 'Gloria Hallelujah', cursive;
}

.main-container > h3 {

}

.social_media {
    width: 18%;
    height: 8%;
    left: 41%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.social_media > li {
    list-style: none;
}

.social_media > li > a > img {
    height: 35px;
    height: 35px;
    transition-property: all;
    transition-duration: 0.3s;

}

.social_media > li > a > img:hover {
    transform: scale(1.2);
    transition-property: all;
    transition-duration: 0.3s;
}



.about_me {
    height: 100vh;
    background-color: black;
    position: relative;
    display: flex;


}

.about_me > aside {
    height: 100%;
    position: relative;

}

.about_me > aside:nth-child(1) {
    width: 30%;


}

.about_me > aside:nth-child(2) {
    width: 70%;
    color: white;

}


.about_me > aside > div > h1 {
    font-size: 60px;
    color: #d35400;
}

.about_me > aside > div > h1 > span {
    font-size: 60px;
    color: white;
}

#topic {
    position: absolute;
    left: 8%;
    top: 35%;
}

.my_image {
    width: 90%;
    height: 55%;
    position: absolute;
    bottom: 0;
}

.my_image > img {
    width: 100%;
    height: 100%;
}

.my_details {
    font-size: 20px;
    margin-top: 20%;
    margin-left: 40px;
}

.my_details > p {
    margin-bottom: 10px;
}

.my_details > p > strong {
    color: #d35400;
}

.overview {
    font-size: 18px;
    margin-top: 8%;

}

.cv {

    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.button {
    height: 40px;
    width: 150px;
    background-color: black;
    color: white;
    border: 1px solid #e84393;
}

.button > a {
    color: white;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    background-color: #fd79a8;

}

#education {
    height: 100vh;
    background-color: black;
    position: relative;

}
#education>div{
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 1;

}
#education>div>h1:nth-child(1){
    font-size: 60px;
    color: #d35400 ;
}
#education>div>h1>span{
    font-size: 60px;
    color: #7f8c8d;
}
#education>div>h1:nth-child(2){
    font-size: 60px;
    color: white;
    padding-left: 20%;
    position: absolute;

}
#education>img{
    width: 70%;
    height: 80%;
    margin-left: 20%;
    margin-top: 6%;
}




