* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
    background-color: #181818;
}

#logo {
    font-size: 30px;
    color: #fff;
}

#manu {
    display: none;
}


/*       Navigation part CSS       */
nav {
    display: flex;
    justify-content: end;
    width: 100vw;
    padding-top: 10px;
    padding-left: 12%;
    position: fixed;
    z-index: 5;
}

nav > ul > li {
    list-style: none;
    display: inline-block;
    padding: 0 25px;
    z-index: 7;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

nav > ul > li > a:hover {
    color: #615CFD;
    transition: 0.3s;
}

.sticky {
    height: 60px;
    background: #181818;
    transition: 0.3s;
}

/*                             Main Container                  */

.main-container {
    width: 50%;
    height: 50%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container > h2 {
    margin-top: 20px;
    margin-bottom: -20px;
}

.main-container > h1 {

    font-size: 60px;
    color: #d35400;
    font-family: 'Gloria Hallelujah', cursive;
}

.main-container > h3 {

}

.social_media {
    width: 18%;
    height: 8%;
    left: 41%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.social_media > li {
    list-style: none;
}

.social_media > li > a > img {
    height: 35px;
    height: 35px;
    transition-property: all;
    transition-duration: 0.3s;

}

.social_media > li > a > img:hover {
    transform: scale(1.2);
    transition-property: all;
    transition-duration: 0.3s;
}


/*                          About Me CSS                       */


.about_me {
    height: 100vh;
    background-color: black;
    position: relative;
    display: flex;
}

.about_me > aside {
    height: 100%;
    position: relative;

}

.about_me > aside:nth-child(1) {
    width: 30%;
}

.about_me > aside:nth-child(2) {
    width: 70%;
    color: white;
}


.about_me > aside > div > h1 {
    font-size: 60px;
    color: #d35400;
}

.about_me > aside > div > h1 > span {
    font-size: 60px;
    color: white;
}

#topic {
    position: absolute;
    left: 8%;
    top: 35%;
}

.my_image {
    width: 90%;
    height: 55%;
    position: absolute;
    bottom: 0;
}

.my_image > img {
    width: 100%;
    height: 100%;
}

.my_details {
    font-size: 20px;
    margin-top: 20%;
    margin-left: 40px;
}

.my_details > p {
    margin-bottom: 10px;
}

.my_details > p > strong {
    color: #d35400;
}

.overview {
    font-size: 18px;
    margin-top: 8%;

}

.cv {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.button {
    height: 40px;
    width: 150px;
    background-color: black;
    color: white;
    border: 1px solid #e84393;
}

.button > a {
    color: white;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    background-color: #fd79a8;

}


/*                          Education And Experience CSS                       */


#education {
    height: 100vh;
    background-color: black;
    position: relative;

}

#education > div {
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 1;

}

#education > div > h1:nth-child(1) {
    font-size: 60px;
    color: #d35400;
}

#education > div > h1 > span {
    font-size: 60px;
    color: #7f8c8d;
}

#education > div > h1:nth-child(2) {
    font-size: 60px;
    color: white;
    padding-left: 20%;
    position: absolute;

}

#education > img {
    width: 70%;
    height: 80%;
    margin-left: 20%;
    margin-top: 6%;
}


/*                          Skills CSS                       */



#skills {
    height: 100vh;
    position: relative;
    background-color: black;
}

.skill_topic {
    position: absolute;
    top: 25%;
    left: 5%;


}

.skill_topic > h1 {
    font-size: 60px;
    color: #d35400;
}

.skill_topic > h1 > span {
    font-size: 60px;
    color: white;
}

.skill_topic > h3 {
    font-size: 20px;
    color: white;
    padding-left: 15px;

}

.skill_set {
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 70px;
}

.container {
    position: absolute;
    height: 60%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > div {
    position: relative;
    height: 210px;
    width: 150px;
    border: 2px solid red;
    margin-right: 15px;

}

.container > div > img {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    background-size: cover;
    background-position: center;
    height: 96px;
    width: 96px;
}

.container > div > h3 {
    color: white;
    /*position: absolute;*/
    bottom: 0;
    text-align: center;
    margin-top: 170px;
}


/*                          My Projects CSS                       */


#projects_topic {
    height: 90vh;
    position: relative;
    background-color: black;

}

.my_project {
    position: absolute;
    top: 25%;
    left: 5%;


}

.my_project > h1 {
    font-size: 60px;
    color: #d35400;
}

.my_project > h1 > span {
    font-size: 60px;
    color: white;
}

.my_project > h3 {
    font-size: 20px;
    color: white;
    padding-left: 15px;

}

.projects{
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;

}
#container {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid ;
    place-items: center
}

#slider-container {
    height: 300px;
    width: 85vw;
    max-width: 1400px;
    /*background: #54d5e4;*/
    /*box-shadow: 5px 5px 8px gray inset;*/
    position: relative;
    overflow: hidden;
    padding: 20px;
}

#slider-container .btn {
    position: absolute;
    top: calc(50% - 30px);
    height: 30px;
    width: 30px;
    border-left: 8px solid #d35400;
    border-top: 8px solid #d35400;
    transition-property: all;
    transition-duration: 0.3s;
}

#slider-container .btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;

}

#slider-container .btn.inactive {
    border-color: rgb(153, 121, 126)
}

#slider-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px
}

#slider-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
}

#slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%;
    transition: all .5s;
}

#slider-container #slider .slide {
    height: 100%;
    margin: auto 10px;
    /*background-color: #a847a4;*/
    box-shadow: 1px 1px 2px 1px white, -1px -1px 2px 1px white;
    display: grid;
    place-items: center;
}

.slide>button{
    width: 80px;
    height: 30px;
    background-color: #d35400;
    cursor: pointer;
    border: 0px;
    color: white;

}
.slide>button:hover{
    transform: scale(1.2);
}

/*              Project Slider        */

.slide:nth-child(1) {
    background-size: cover;
    background-position: center;
    background-image: url("assets/images/hotelBlue.png");
}
.slide:nth-child(2) {
    background-size: cover;
    background-position: center;
    background-image: url("assets/images/icons8-instagram-old-100 (1).png");
}
.slide:nth-child(3) {
    background-size: cover;
    background-position: center;
    background-image: url("assets/images/icons8-instagram-old-100 (1).png");
}
.slide:nth-child(4) {
    background-size: cover;
    background-position: center;
    background-image: url("assets/images/icons8-instagram-old-100 (1).png");
}
.slide:nth-child(5) {
    background-size: cover;
    background-position: center;
    background-image: url("assets/images/icons8-instagram-old-100 (1).png");
}
.slide:nth-child(6) {
    background-size: cover;
    background-position: center;
    background-image: url("assets/images/icons8-instagram-old-100 (1).png");
}
.slide:nth-child(7) {
    background-size: cover;
    background-position: center;
    background-image: url("assets/images/icons8-instagram-old-100 (1).png");
}
.slide:nth-child(8) {
    background-size: cover;
    background-position: center;
    background-image: url("assets/images/icons8-instagram-old-100 (1).png");
}
.slide:nth-child(9) {
    background-size: cover;
    background-position: center;
    background-image: url("assets/images/icons8-instagram-old-100 (1).png");
}
.slide:nth-child(10) {
    background-size: cover;
    background-position: center;
    background-image: url("assets/images/icons8-instagram-old-100 (1).png");
}


@media only screen and (min-width: 1100px) {

    #slider-container #slider .slide {
        width: calc(2.5% - 20px);
    }

}

@media only screen and (max-width: 1100px) {

    #slider-container #slider .slide {
        width: calc(3.3333333% - 20px);
    }

}

@media only screen and (max-width: 900px) {

    #slider-container #slider .slide {
        width: calc(5% - 20px);
    }

}

@media only screen and (max-width: 550px) {

    #slider-container #slider .slide {
        width: calc(10% - 20px);
    }

}






/*                          Contact Me CSS                       */



#contactMe_topic {
    height: 100vh;
    position: relative;
    background-color: black;

}


.contact_me {
    position: absolute;
    top: 10%;
    left: 5%;


}

.contact_me > h1 {
    font-size: 60px;
    color: #d35400;
}

.contact_me > h1 > span {
    font-size: 60px;
    color: white;
}

.contact_me > p {
    margin-top: 10px;
    font-family: Poppins;
    font-size: 20px;
    color: white;
    padding-left: 40px;

}

.contact-contain{
    height: 67%;
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-contain>div:nth-child(1){
    border: 2px solid white;
    width: 65%;
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contact-contain>div:nth-child(1)>input{
    width: 60%;
    height: 8%;
    background: black;
    border: 1px solid white;
    color: white;
}

.contact-contain>div:nth-child(1)>input:nth-child(4){
    height: 15%;
}

.btn-send{
    width: 120px;
    height: 30px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: 1px solid #e84393;
}

.btn-send:hover {
    cursor: pointer;
    background-color: #fd79a8;

}

.contact-contain>div:nth-child(2){
    display: flex;
    position: relative;
}

.contact-contain>div:nth-child(2)>li{
    margin-left: 5px;
    width: 50px;
    height: 50px;
    list-style: none;

    /*background: red;*/

}

.contact-contain>div:nth-child(2)>li>a>img{
    width: 80%;
    height: 80%;
    transition-property: all;
    transition-duration: 0.3s;

}
.contact-contain>div:nth-child(2)>li>a>img:hover {
    transform: scale(1.2);
    transition-property: all;
    transition-duration: 0.3s;
}
.contact-contain>div:nth-child(3)>h4{
    color: white;
}







